ul {
  list-style: none;
  margin-top:47px;
  justify-content: space-around;
}
ul li a{
  text-decoration: none;
  color: rgb(233, 206, 206);
  padding: 10px 20px;
  font-weight:lighter;
}
ul li a:hover{
  color: #fff;
}
.active{
  color: #fff;
  font-weight:bold;
  border-bottom-width: 1px;
  border-bottom: 1px solid rgb(253, 254, 255);
}
.icons{
  color :#fff;
  margin-left: 30px;
  padding: 6vh;
  margin-top: -10vh;
  
}
#st{
  border: 0.3vh solid white;
  padding: 0.6vh;
  border-radius: 3vh;
  margin-top: 5vh;
}

#ms h3{
  color: ghostwhite;
  font-size: 25px;
  margin-top: 3%;
  margin-left: 13%;
  font-weight:normal;
}
#ms h1{
  margin-left: 50px;
  margin-top: -30px;
  color: #fff;
  font-size: 45px;
  font-weight: lighter;
}
.split {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 10%;
}

.left {
  left: 0;
  background-color: #ff502d;
}

/* footer{
    padding: 15px 23px;
    width: 100%;
    color: #fff;
    bottom: 0;
    text-align: center;
    position: fixed;
   background-color:#405ceb;
} */

/* .bottom{
  bottom: 0;
} */

#im1 img{
  border: 2px solid white;
  padding: 22px;
  border-radius: 300px;
  margin-top: 50px;
  background-color: #fff;
  margin-top: 0;
}

ul li{
  font-size: 17px;
  padding: -10px;
}